<!DOCTYPE html>
<html lang="en">
  <head>
    <style>
      p > img {
        max-width: 50%;
        height: auto;
      }
      .container p {
        text-align: justify;
      }
    </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ .Title }}</title>
    {{ partial "header/site-header.html" . }}
  <link href="/index.css" rel="stylesheet">
  </head>
  <body>
    {{ partial "header/site-nav.html" . }}
    <section>
      <div class="container">
        <h1 class="title"><strong>{{ .Title }}</strong></h1>
        <div class="row">
          <div class="col-md-6 col-sm-6">
            <div id="carousel" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                {{ range $key, $value := .Params.images}}
                  {{if eq $key 0 }}
                    <li data-target="#carousel" data-slide-to="{{$key}}" class="active"></li>
                  {{else}}
                    <li data-target="#carousel" data-slide-to="{{$key}}"></li>
                  {{end}}
                {{end}}
              </ol>
              <div class="carousel-inner">
                {{ range $key, $value := .Params.images}}
                  {{if eq $key 0 }}
                    <div class="item active">
                      <img class="d-block w-100" src="{{$value.image}}" alt="{{$value.alt}}">
                    </div>
                  {{else}}
                    <div class="item">
                      <img class="d-block w-100" src="{{$value.image}}" alt="{{$value.alt}}">
                    </div>
                  {{end}}
                {{end}}
              </div>
              <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-sm-6">         
            <p>{{.Params.Description | .RenderString}}</p>
          </div>
        </div>
        {{if or .Params.material .Params.Detail}}
        <div class="row">
          {{if .Params.material}}
            <div class="col-md-6 col-sm-6">
              <h3>Materials</h3>
              <ul class="list-group">
                {{ range .Params.material}}
                  {{if .link}}
                    <a href={{.link}}><li class="list-group-item">{{.text}}</li></a>
                  {{else}}
                    <li class="list-group-item">{{.text}}</li>
                  {{end}}
                {{end}}
              </ul>
            </div>
          {{end}}
          {{if .Params.Detail}}
            <div class="col-md-6 col-sm-6">         
              <h3>Details</h3>
              <p>{{.Params.Detail | .RenderString}}</p>
            </div>
          {{end}}
        </div>
        {{end}}
      </div>
    </section>
    {{ partial "footer/site-footer.html" . }}
    <script type="text/javascript" src="/index.js"></script></body>
  </body>
</html>