<!DOCTYPE html>
<html lang="en">

<head>
	{{ partial "header/site-header.html" . }}
</head>

<body data-spy="scroll" data-target="#rock-navigation">
	{{ partial "header/site-nav.html" . }}
	<section id="home" class="altmakes-home">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-1"></div>
				<div class="col-md-8 col-sm-10">
					<img class="logo" src="/img/logo.png">
					<h1 class="tm-home-title"><strong>{{.Title}}</strong></h1>
					<!-- <h2 class="tm-home-subtitle">{{.Params.subtitle}}</h2> -->
					<a id="exploreButton" href="#work" class="btn btn-default smoothScroll tm-view-more-btn">Explore</a>
				</div>
				<div class="col-md-2 col-sm-1"></div>
			</div>
		</div>
	</section>
	<section id="work" class="tm-padding-top-bottom-100">
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="work-wrapper">
						<h3 class="text-uppercase tm-work-h3">{{.Params.servicesTitle0}}</h3>
						<hr>
						<p class="justify">{{.Params.servicesDescription0}}</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="work-wrapper">
						<h3 class="text-uppercase tm-work-h3">{{.Params.servicesTitle1}}</h3>
						<hr>
						<p class="justify">{{.Params.servicesDescription1}}</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6 col-sm-6">
					<div class="work-wrapper">
						<h3 class="text-uppercase tm-work-h3">{{.Params.servicesTitle2}}</h3>
						<hr>
						<p class="justify">{{.Params.servicesDescription2}}</p>
					</div>
				</div>
				<div class="col-md-6 col-sm-6">
					<div class="work-wrapper">
						<h3 class="text-uppercase tm-work-h3">{{.Params.servicesTitle3}}</h3>
						<hr>
						<p class="justify">{{.Params.servicesDescription3}}</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="portfolio" class="tm-portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow bounce">
					<div class="title">
						<h2 class="tm-portfolio-title">My Creations</h2>
					</div>
					<div class="iso-section">
						<ul class="filter-wrapper clearfix">
							<li><a href="#" class="opc-main-bg selected" data-filter="*">All</a></li>
							{{ range $taxonomyname, $taxonomy := .Site.Taxonomies.categories }}
							<li><a class="opc-main-bg" data-filter=".{{ $taxonomyname }}">{{ $taxonomyname }}</a></li>
							{{ end }}
						</ul>
						<div class="iso-box-section">
							<div class="iso-box-wrapper col4-iso-box">
								{{ range .Site.RegularPages.ByTitle}}
								<a href="{{ .RelPermalink }}">
									<div
										class="iso-box{{ range $key := .Params.categories }} {{$key}} {{end}}col-md-3 col-sm-3 col-xs-12">
										<div class="portfolio-thumb">
											<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mOcy8pwEAADTgFldBIbqAAAAABJRU5ErkJggg==" data-src="{{ (index .Params.images 0).image }}" class="fluid-img lazy"
												alt="{{ (index .Params.images 0).alt }}">
											<div class="portfolio-overlay">
												<h3 class="portfolio-item-title">{{ .Params.title }}</h3>
												<p>{{ .Params.summary }}</p>
											</div>
										</div>
									</div>
								</a>
								{{ end }}
							</div>
						</div>
					</div>
				</div>
			</div>
	</section>
	<section id="about" class="tm-about">
		<div class="container">
			<div class="row">
				<div class="col-md-offset-6 col-md-6 col-sm-offset-6 col-sm-7 tm-red-text">
					<div class="title">
						<h1 class="tm-red-text">{{.Params.meTitle}}</h1>
					</div>
					<p>{{.Params.meDescription}}</p>
				</div>
			</div>
		</div>
	</section>
	<section id="social" class="tm-social">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.3s">
					<div class="media etsy">
						<a href="{{.Params.etsyLink}}">
							<div class="media-object pull-left">
								<i class="fa fa-etsy"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">Shop Around On</h4>
								<h3>Etsy</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.6s">
					<div class="media instagram">
						<a href="{{.Params.instagramLink}}">
							<div class="media-object pull-left">
								<i class="fa fa-instagram"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">Follow Me On</h4>
								<h3>Instagram</h3>
							</div>
						</a>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 wow rotateInUpLeft" data-wow-delay="0.9s">
					<div class="media pinterest">
						<a href="{{.Params.pinterestLink}}">
							<div class="media-object pull-left">
								<i class="fa fa-pinterest"></i>
							</div>
							<div class="media-body">
								<h4 class="media-heading tm-social-title">Pin me on</h4>
								<h3>Pinterest</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section id="contact" class="tm-contact">
		<div class="container">
			<div class="row">
				<div class="title col-md-12">
					<h2>Contact</h2>
					<hr>
				</div>
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-10 col-sm-10">
					<form name="contact" action="#" method="post" netlify>
						<div class="col-md-6 col-sm-6">
							<input name="name" class="form-control" type="text" placeholder="Your Name">
						</div>
						<div class="col-md-6 col-sm-6">
							<input name="email" class="form-control" type="email" placeholder="Your Email">
						</div>
						<div class="col-md-12 col-sm-12">
							<input name="subject" class="form-control" type="text" placeholder="Your Subject">
							<textarea name="message" class="form-control" placeholder="Your Message" rows="6"></textarea>
						</div>
						<div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
							<input class="form-control" type="submit" value="Send Message">
						</div>
					</form>
				</div>
				<div class="col-md-1 col-sm-1"></div>
				<div class="col-md-12 col-sm-12">
					<p>
						Website: <a href="https://alexandermorton.co.uk">Alexander Morton</a>. Logo: Stephen Morton.
					</p>
					<p style="padding-top: 0;">
						Copyright &copy; 2020
					</p>
				</div>
			</div>
		</div>
	</section>
	{{ partial "footer/site-footer.html" . }}
	<script>
		if (window.netlifyIdentity) {
			window.netlifyIdentity.on("init", user => {
				if (!user) {
					window.netlifyIdentity.on("login", () => {
						document.location.href = "/admin/";
					});
				}
			});
		}
	</script>
</body>

</html>